<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Gestion Documental {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/layout.css')}}" >
</head>
<body>
    <img id="imgmintic" src="../static/img/292849410_1227491444457259_554565919092254470_n.jpg">
    <h1>mision tic</h1>
    {%block body%} 
    {% endblock %}
</body>
</html>